.projects {
  width: 90%;
  margin: 2rem auto;
  min-height: 80vh;
  // background: red;
  @include flex(row, space-between, center);
  text-align: center;
  flex-wrap: wrap;
  p {
    margin: 1rem;
  }
  div {
    flex: 1 1 50rem;
    margin-top: 1rem;
    min-height: 60rem;
  }
  img {
    border-radius: 2rem;
  }
}
